:root{
    font-family: 'Inter', sans-serif;
    margin:auto;
}
html, body { min-height: 100%; max-width: 100%; position:relative}
.cabecalho {
    height: 6.25rem;
    width: 100%;
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
}
.rotas {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.rotas a {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.rotas a:hover {
    color: #3274F0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    width: 100%;
    background: #1E273E;
    position:fixed;
    bottom: 0;
}
.rodape p {
    color: white;
}
.redes-sociais {
    width: 100%;
    max-width: 26rem;
    display: flex;
    justify-content: space-around;
}
.endereco {
    font-weight: bold;
    font-size: 1rem;
}
.corpo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 9rem;
    padding-top: 6.25rem;
}

.box {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.conteudo-servico{
    width: 20rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border: 1px solid #3274F0;
    padding: 1rem;
    border-radius: 8px;
}
.conteudo-servico img{
    height: 40px;
    width: 40px;
    margin: 2rem;
    border-radius: 100%;
    padding: 1rem;
    border: 2px solid #3274F0;

}
.titulo {
    margin-top: 3rem;
}

@media (max-width: 790px){
    .box {
        flex-direction: column;
        margin-top: 0;
    }
}
@media (max-width: 950px){
    .cabecalho {
        height: auto;
        display: grid;
        justify-items: center;
        gap: 1rem
    }
    .rotas {
        font-size: 1rem;
    }
    .box {
        flex-direction: column;
        margin-top: 0;
    }
}
@media (max-height: 850px){
    .cabecalho {
        opacity: 0.2;
    }
    .rodape {
        opacity: 0.2;
        height: 5rem;
    }
}