:root{
    font-family: 'Inter', sans-serif;
    margin:auto;
}
html, body { min-height: 100%; max-width: 100%; position:relative}
.cabecalho {
    height: 6.25rem;
    width: 100%;
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
}
.rotas {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    width: 100%;
    background: #1E273E;
    position:fixed;
    bottom: 0;
}
.rodape p {
    color: white;
}
.redes-sociais {
    width: 100%;
    max-width: 26rem;
    display: flex;
    justify-content: space-around;
}
.endereco {
    font-weight: bold;
    font-size: 1rem;
}
.corpo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 9rem;
    padding-top: 6.25rem;
}

.conteudo-texto {
    width: 54rem;
    font-size: 2rem;
    text-align: justify;
    box-shadow: -5px -5px 15px -2px rgba(0, 90, 255, 0.5), 5px 5px 15px -2px rgba(0, 255, 99, 0.5);
    border-radius: 32px;
    padding: 1rem;
}
.titulo {
    margin-top: 3rem;
}

.rotas a {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.rotas a:hover {
    color: #3274F0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 950px){
    .cabecalho {
        height: auto;
        display: grid;
        justify-items: center;
        gap: 1rem
    }
    .rotas {
        font-size: 1rem;
    }
    .conteudo-texto {
        font-size: 1.8rem;
        width: 40rem;
        text-align: justify;
    }
}
@media (max-height: 850px){
    .cabecalho {
        opacity: 0.2;
    }
    .rodape {
        opacity: 0.2;
        height: 5rem;
    }
}